### Load datasets

In [1]:
## download daily from https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset
import pandas as pd
covid19_data = pd.read_csv(r"C:\Users\ijeke\Documents\Datasets\covid19 v1\covid_19_data.csv",parse_dates=['ObservationDate', 'Last Update'])

print(covid19_data)

         SNo ObservationDate Province/State  Country/Region  \
0          1      2020-01-22          Anhui  Mainland China
1          2      2020-01-22        Beijing  Mainland China
2          3      2020-01-22      Chongqing  Mainland China
3          4      2020-01-22         Fujian  Mainland China
4          5      2020-01-22          Gansu  Mainland China
...      ...             ...            ...             ...
12244  12245      2020-04-05        Wyoming              US
12245  12246      2020-04-05       Xinjiang  Mainland China
12246  12247      2020-04-05          Yukon          Canada
12247  12248      2020-04-05         Yunnan  Mainland China
12248  12249      2020-04-05       Zhejiang  Mainland China

              Last Update  Confirmed  Deaths  Recovered
0     2020-01-22 17:00:00        1.0     0.0        0.0
1     2020-01-22 17:00:00       14.0     0.0        0.0
2     2020-01-22 17:00:00        6.0     0.0        0.0
3     2020-01-22 17:00:00        1.0     0.0        0.0
4     2020-01-22 17:00:00        0.0     0.0        0.0
...                   ...        ...     ...        ...
12244 2020-04-05 23:13:44      197.0     0.0        0.0
12245 2020-04-05 23:13:44       76.0     3.0       73.0
12246 2020-04-05 23:13:44        6.0     0.0        0.0
12247 2020-04-05 23:13:44      184.0     2.0      172.0
12248 2020-04-05 23:13:44     1263.0     1.0     1230.0

[12249 rows x 8 columns]

## Explore Datasets

In [2]:
covid19_data.head()
##covid19_data.info()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0

In [3]:
covid19_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12249 entries, 0 to 12248
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              12249 non-null  int64
 1   ObservationDate  12249 non-null  datetime64[ns]
 2   Province/State   6407 non-null   object
 3   Country/Region   12249 non-null  object
 4   Last Update      12249 non-null  datetime64[ns]
 5   Confirmed        12249 non-null  float64
 6   Deaths           12249 non-null  float64
 7   Recovered        12249 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 765.7+ KB

## Transform and Load dataset

In [4]:
## Add Active Cases as Confirmed - Deaths - Recovered
covid19_data["Active"] = covid19_data['Confirmed']- covid19_data['Deaths'] - covid19_data['Recovered']
covid19_data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0,1.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0,14.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0,6.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0,1.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0,0.0

In [5]:
# pick of columns to keep as 
list(covid19_data.iloc[:,0:5])

['SNo', 'ObservationDate', 'Province/State', 'Country/Region', 'Last Update']

In [6]:
# pick columns to unpivot
list(covid19_data.iloc[:,5:])

['Confirmed', 'Deaths', 'Recovered', 'Active']

In [7]:
## Unpivot Confirmed, Deaths, Recovered, Active

id_vars = list(covid19_data.iloc[:,0:5])
value_vars = list(covid19_data.iloc[:,5:])

covid_19 = covid19_data.melt(id_vars = id_vars, value_vars = value_vars, var_name = "Case Type" , value_name = "Number of Cases")
print(covid_19)

         SNo ObservationDate Province/State  Country/Region  \
0          1      2020-01-22          Anhui  Mainland China
1          2      2020-01-22        Beijing  Mainland China
2          3      2020-01-22      Chongqing  Mainland China
3          4      2020-01-22         Fujian  Mainland China
4          5      2020-01-22          Gansu  Mainland China
...      ...             ...            ...             ...
48991  12245      2020-04-05        Wyoming              US
48992  12246      2020-04-05       Xinjiang  Mainland China
48993  12247      2020-04-05          Yukon          Canada
48994  12248      2020-04-05         Yunnan  Mainland China
48995  12249      2020-04-05       Zhejiang  Mainland China

              Last Update  Case Type  Number of Cases
0     2020-01-22 17:00:00  Confirmed              1.0
1     2020-01-22 17:00:00  Confirmed             14.0
2     2020-01-22 17:00:00  Confirmed              6.0
3     2020-01-22 17:00:00  Confirmed              1.0
4     2020-01-22 17:00:00  Confirmed              0.0
...                   ...        ...              ...
48991 2020-04-05 23:13:44     Active            197.0
48992 2020-04-05 23:13:44     Active              0.0
48993 2020-04-05 23:13:44     Active              6.0
48994 2020-04-05 23:13:44     Active             10.0
48995 2020-04-05 23:13:44     Active             32.0

[48996 rows x 7 columns]

In [8]:
## Add column that combines Country and Province

covid_19["Location"] = covid_19['Country/Region'].fillna('') + ", " + covid_19['Province/State'].fillna('') 

covid_19.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Case Type,Number of Cases,Location
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,Confirmed,1.0,"Mainland China, Anhui"
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,Confirmed,14.0,"Mainland China, Beijing"
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,Confirmed,6.0,"Mainland China, Chongqing"
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,Confirmed,1.0,"Mainland China, Fujian"
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,Confirmed,0.0,"Mainland China, Gansu"

In [9]:
covid_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48996 entries, 0 to 48995
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              48996 non-null  int64
 1   ObservationDate  48996 non-null  datetime64[ns]
 2   Province/State   25628 non-null  object
 3   Country/Region   48996 non-null  object
 4   Last Update      48996 non-null  datetime64[ns]
 5   Case Type        48996 non-null  object
 6   Number of Cases  48996 non-null  float64
 7   Location         48996 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 3.0+ MB

In [10]:
from datetime import date
value_to_check = pd.Timestamp(2020,3,23)

In [11]:
filter_mask = covid19_data['ObservationDate'] > value_to_check

filtered_df = covid19_data[filter_mask]

filtered_df.loc[(covid19_data['Country/Region'] == "Canada") ]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active
8377,8378,2020-03-24,Alberta,Canada,2020-03-24 23:41:50,359.0,1.0,0.0,358.0
8386,8387,2020-03-24,British Columbia,Canada,2020-03-24 23:41:50,617.0,13.0,0.0,604.0
8395,8396,2020-03-24,Diamond Princess cruise ship,Canada,2020-03-24 23:41:50,0.0,1.0,0.0,-1.0
8406,8407,2020-03-24,Grand Princess,Canada,2020-03-24 23:41:50,13.0,0.0,0.0,13.0
8437,8438,2020-03-24,Manitoba,Canada,2020-03-24 23:41:50,21.0,0.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...
12207,12208,2020-04-05,Prince Edward Island,Canada,2020-04-05 23:13:44,22.0,0.0,0.0,22.0
12210,12211,2020-04-05,Quebec,Canada,2020-04-05 23:13:44,7944.0,75.0,0.0,7869.0
12212,12213,2020-04-05,Recovered,Canada,2020-04-05 23:13:44,0.0,0.0,3012.0,-3012.0
12218,12219,2020-04-05,Saskatchewan,Canada,2020-04-05 23:13:44,249.0,3.0,0.0,246.0
12246,12247,2020-04-05,Yukon,Canada,2020-04-05 23:13:44,6.0,0.0,0.0,6.0

In [12]:
filter_mask = covid_19['ObservationDate'] > value_to_check

filtered_df = covid_19[filter_mask]

filtered_df.loc[(covid_19['Country/Region'] == "Japan") ]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Case Type,Number of Cases,Location
8288,8289,2020-03-24,NaN,Japan,2020-03-24 23:41:50,Confirmed,1193.0,"Japan,"
8589,8590,2020-03-25,NaN,Japan,2020-03-25 23:37:49,Confirmed,1307.0,"Japan,"
8891,8892,2020-03-26,NaN,Japan,2020-03-26 23:53:24,Confirmed,1387.0,"Japan,"
9198,9199,2020-03-27,NaN,Japan,2020-03-27 23:27:48,Confirmed,1468.0,"Japan,"
9505,9506,2020-03-28,NaN,Japan,2020-03-28 23:11:06,Confirmed,1693.0,"Japan,"
9816,9817,2020-03-29,NaN,Japan,2020-03-29 23:14:06,Confirmed,1866.0,"Japan,"
10128,10129,2020-03-30,NaN,Japan,2020-03-30 22:58:55,Confirmed,1866.0,"Japan,"
10441,10442,2020-03-31,NaN,Japan,2020-03-31 23:49:27,Confirmed,1953.0,"Japan,"
10754,10755,2020-04-01,NaN,Japan,2020-04-01 22:04:58,Confirmed,2178.0,"Japan,"
11067,11068,2020-04-02,NaN,Japan,2020-04-02 23:32:01,Confirmed,2495.0,"Japan,"
11382,11383,2020-04-03,NaN,Japan,2020-04-03 22:52:45,Confirmed,2617.0,"Japan,"
11697,11698,2020-04-04,NaN,Japan,2020-04-04 23:41:02,Confirmed,3139.0,"Japan,"
12013,12014,2020-04-05,NaN,Japan,2020-04-05 23:13:44,Confirmed,3139.0,"Japan,"
20537,8289,2020-03-24,NaN,Japan,2020-03-24 23:41:50,Deaths,43.0,"Japan,"
20838,8590,2020-03-25,NaN,Japan,2020-03-25 23:37:49,Deaths,45.0,"Japan,"
21140,8892,2020-03-26,NaN,Japan,2020-03-26 23:53:24,Deaths,47.0,"Japan,"
21447,9199,2020-03-27,NaN,Japan,2020-03-27 23:27:48,Deaths,49.0,"Japan,"
21754,9506,2020-03-28,NaN,Japan,2020-03-28 23:11:06,Deaths,52.0,"Japan,"
22065,9817,2020-03-29,NaN,Japan,2020-03-29 23:14:06,Deaths,54.0,"Japan,"
22377,10129,2020-03-30,NaN,Japan,2020-03-30 22:58:55,Deaths,54.0,"Japan,"
22690,10442,2020-03-31,NaN,Japan,2020-03-31 23:49:27,Deaths,56.0,"Japan,"
23003,10755,2020-04-01,NaN,Japan,2020-04-01 22:04:58,Deaths,57.0,"Japan,"
23316,11068,2020-04-02,NaN,Japan,2020-04-02 23:32:01,Deaths,62.0,"Japan,"
23631,11383,2020-04-03,NaN,Japan,2020-04-03 22:52:45,Deaths,63.0,"Japan,"
23946,11698,2020-04-04,NaN,Japan,2020-04-04 23:41:02,Deaths,77.0,"Japan,"
24262,12014,2020-04-05,NaN,Japan,2020-04-05 23:13:44,Deaths,77.0,"Japan,"
32786,8289,2020-03-24,NaN,Japan,2020-03-24 23:41:50,Recovered,285.0,"Japan,"
33087,8590,2020-03-25,NaN,Japan,2020-03-25 23:37:49,Recovered,310.0,"Japan,"
33389,8892,2020-03-26,NaN,Japan,2020-03-26 23:53:24,Recovered,359.0,"Japan,"
33696,9199,2020-03-27,NaN,Japan,2020-03-27 23:27:48,Recovered,372.0,"Japan,"
34003,9506,2020-03-28,NaN,Japan,2020-03-28 23:11:06,Recovered,404.0,"Japan,"
34314,9817,2020-03-29,NaN,Japan,2020-03-29 23:14:06,Recovered,424.0,"Japan,"
34626,10129,2020-03-30,NaN,Japan,2020-03-30 22:58:55,Recovered,424.0,"Japan,"
34939,10442,2020-03-31,NaN,Japan,2020-03-31 23:49:27,Recovered,424.0,"Japan,"
35252,10755,2020-04-01,NaN,Japan,2020-04-01 22:04:58,Recovered,472.0,"Japan,"
35565,11068,2020-04-02,NaN,Japan,2020-04-02 23:32:01,Recovered,472.0,"Japan,"
35880,11383,2020-04-03,NaN,Japan,2020-04-03 22:52:45,Recovered,514.0,"Japan,"
36195,11698,2020-04-04,NaN,Japan,2020-04-04 23:41:02,Recovered,514.0,"Japan,"
36511,12014,2020-04-05,NaN,Japan,2020-04-05 23:13:44,Recovered,514.0,"Japan,"
45035,8289,2020-03-24,NaN,Japan,2020-03-24 23:41:50,Active,865.0,"Japan,"
45336,8590,2020-03-25,NaN,Japan,2020-03-25 23:37:49,Active,952.0,"Japan,"
45638,8892,2020-03-26,NaN,Japan,2020-03-26 23:53:24,Active,981.0,"Japan,"
45945,9199,2020-03-27,NaN,Japan,2020-03-27 23:27:48,Active,1047.0,"Japan,"
46252,9506,2020-03-28,NaN,Japan,2020-03-28 23:11:06,Active,1237.0,"Japan,"
46563,9817,2020-03-29,NaN,Japan,2020-03-29 23:14:06,Active,1388.0,"Japan,"
46875,10129,2020-03-30,NaN,Japan,2020-03-30 22:58:55,Active,1388.0,"Japan,"
47188,10442,2020-03-31,NaN,Japan,2020-03-31 23:49:27,Active,1473.0,"Japan,"
47501,10755,2020-04-01,NaN,Japan,2020-04-01 22:04:58,Active,1649.0,"Japan,"
47814,11068,2020-04-02,NaN,Japan,2020-04-02 23:32:01,Active,1961.0,"Japan,"
48129,11383,2020-04-03,NaN,Japan,2020-04-03 22:52:45,Active,2040.0,"Japan,"
48444,11698,2020-04-04,NaN,Japan,2020-04-04 23:41:02,Active,2548.0,"Japan,"
48760,12014,2020-04-05,NaN,Japan,2020-04-05 23:13:44,Active,2548.0,"Japan,"

In [13]:
covid_19['Country_Region'] = covid_19['Country/Region']

print(covid_19)

         SNo ObservationDate Province/State  Country/Region  \
0          1      2020-01-22          Anhui  Mainland China
1          2      2020-01-22        Beijing  Mainland China
2          3      2020-01-22      Chongqing  Mainland China
3          4      2020-01-22         Fujian  Mainland China
4          5      2020-01-22          Gansu  Mainland China
...      ...             ...            ...             ...
48991  12245      2020-04-05        Wyoming              US
48992  12246      2020-04-05       Xinjiang  Mainland China
48993  12247      2020-04-05          Yukon          Canada
48994  12248      2020-04-05         Yunnan  Mainland China
48995  12249      2020-04-05       Zhejiang  Mainland China

              Last Update  Case Type  Number of Cases  \
0     2020-01-22 17:00:00  Confirmed              1.0
1     2020-01-22 17:00:00  Confirmed             14.0
2     2020-01-22 17:00:00  Confirmed              6.0
3     2020-01-22 17:00:00  Confirmed              1.0
4     2020-01-22 17:00:00  Confirmed              0.0
...                   ...        ...              ...
48991 2020-04-05 23:13:44     Active            197.0
48992 2020-04-05 23:13:44     Active              0.0
48993 2020-04-05 23:13:44     Active              6.0
48994 2020-04-05 23:13:44     Active             10.0
48995 2020-04-05 23:13:44     Active             32.0

                        Location  Country_Region
0          Mainland China, Anhui  Mainland China
1        Mainland China, Beijing  Mainland China
2      Mainland China, Chongqing  Mainland China
3         Mainland China, Fujian  Mainland China
4          Mainland China, Gansu  Mainland China
...                          ...             ...
48991                US, Wyoming              US
48992   Mainland China, Xinjiang  Mainland China
48993              Canada, Yukon          Canada
48994     Mainland China, Yunnan  Mainland China
48995   Mainland China, Zhejiang  Mainland China

[48996 rows x 9 columns]

In [14]:
## place territories that are governed by the US but not in the US as its own Country
covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'American Samoa'), 'Country/Region'] = 'American Samoa'
                                       
covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'Northern Mariana Islands'), 'Country/Region'] = 'Northern Mariana Islands'
                                       
covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'United States Virgin Islands'), 'Country/Region'] = 'United States Virgin Islands'
                                       
covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'Virgin Islands, U.S.'), 'Country/Region'] = 'United States Virgin Islands'
                                       

covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'Guam'), 'Country/Region'] = 'Guam'

covid_19.loc[(covid_19['Country_Region'] == 'US') & (covid_19['Province/State'] == 'Virgin Islands'), 'Country/Region'] = 'United States Virgin Islands'

In [15]:
## place territories that are governed by the UK but not in the UK as its own Country
covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Cayman Islands'), 'Country/Region'] = 'Cayman Islands'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Bermuda'), 'Country/Region'] = 'Bermuda'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Anguilla'), 'Country/Region'] = 'Anguilla'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'British Virgin Islands'), 'Country/Region'] = 'British Virgin Islands'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Channel Islands'), 'Country/Region'] = 'Channel Islands'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Gibraltar'), 'Country/Region'] = 'Gibraltar'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Montserrat'), 'Country/Region'] = 'Montserrat'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Turks and Caicos Islands'), 'Country/Region'] = 'Turks and Caicos Islands'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Isle of Man'), 'Country/Region'] = 'Isle of Man'

covid_19.loc[(covid_19['Country_Region'] == 'France') & (covid_19['Province/State'] == 'Saint Barthelemy'), 'Country/Region'] = 'Saint Barthelemy'

covid_19.loc[(covid_19['Country_Region'] == 'Reunion') | (covid_19['Province/State'] == 'Reunion'), 'Country/Region'] = 'France'

covid_19.loc[(covid_19['Country_Region'] == 'UK') & (covid_19['Province/State'] == 'Falkland Islands (Islas Malvinas)'), 'Country/Region'] = 'Falkland Islands (Islas Malvinas)'

In [16]:
filter_mask = covid_19['ObservationDate'] > value_to_check

filtered_df = covid_19[filter_mask]

filtered_df.loc[(covid_19['Country/Region'] == "MS Zaandam")]

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Case Type,Number of Cases,Location,Country_Region
9520,9521,2020-03-28,NaN,MS Zaandam,2020-03-28 23:11:06,Confirmed,2.0,"MS Zaandam,",MS Zaandam
9831,9832,2020-03-29,NaN,MS Zaandam,2020-03-29 23:14:06,Confirmed,2.0,"MS Zaandam,",MS Zaandam
10143,10144,2020-03-30,NaN,MS Zaandam,2020-03-30 22:58:55,Confirmed,2.0,"MS Zaandam,",MS Zaandam
10456,10457,2020-03-31,NaN,MS Zaandam,2020-03-31 23:49:27,Confirmed,2.0,"MS Zaandam,",MS Zaandam
10769,10770,2020-04-01,NaN,MS Zaandam,2020-04-01 22:04:58,Confirmed,9.0,"MS Zaandam,",MS Zaandam
11082,11083,2020-04-02,NaN,MS Zaandam,2020-04-02 23:32:01,Confirmed,9.0,"MS Zaandam,",MS Zaandam
11397,11398,2020-04-03,NaN,MS Zaandam,2020-04-03 22:52:45,Confirmed,9.0,"MS Zaandam,",MS Zaandam
11712,11713,2020-04-04,NaN,MS Zaandam,2020-04-04 23:41:02,Confirmed,9.0,"MS Zaandam,",MS Zaandam
12028,12029,2020-04-05,NaN,MS Zaandam,2020-04-05 23:13:44,Confirmed,9.0,"MS Zaandam,",MS Zaandam
21769,9521,2020-03-28,NaN,MS Zaandam,2020-03-28 23:11:06,Deaths,0.0,"MS Zaandam,",MS Zaandam
22080,9832,2020-03-29,NaN,MS Zaandam,2020-03-29 23:14:06,Deaths,0.0,"MS Zaandam,",MS Zaandam
22392,10144,2020-03-30,NaN,MS Zaandam,2020-03-30 22:58:55,Deaths,0.0,"MS Zaandam,",MS Zaandam
22705,10457,2020-03-31,NaN,MS Zaandam,2020-03-31 23:49:27,Deaths,0.0,"MS Zaandam,",MS Zaandam
23018,10770,2020-04-01,NaN,MS Zaandam,2020-04-01 22:04:58,Deaths,2.0,"MS Zaandam,",MS Zaandam
23331,11083,2020-04-02,NaN,MS Zaandam,2020-04-02 23:32:01,Deaths,2.0,"MS Zaandam,",MS Zaandam
23646,11398,2020-04-03,NaN,MS Zaandam,2020-04-03 22:52:45,Deaths,2.0,"MS Zaandam,",MS Zaandam
23961,11713,2020-04-04,NaN,MS Zaandam,2020-04-04 23:41:02,Deaths,2.0,"MS Zaandam,",MS Zaandam
24277,12029,2020-04-05,NaN,MS Zaandam,2020-04-05 23:13:44,Deaths,2.0,"MS Zaandam,",MS Zaandam
34018,9521,2020-03-28,NaN,MS Zaandam,2020-03-28 23:11:06,Recovered,0.0,"MS Zaandam,",MS Zaandam
34329,9832,2020-03-29,NaN,MS Zaandam,2020-03-29 23:14:06,Recovered,0.0,"MS Zaandam,",MS Zaandam
34641,10144,2020-03-30,NaN,MS Zaandam,2020-03-30 22:58:55,Recovered,0.0,"MS Zaandam,",MS Zaandam
34954,10457,2020-03-31,NaN,MS Zaandam,2020-03-31 23:49:27,Recovered,0.0,"MS Zaandam,",MS Zaandam
35267,10770,2020-04-01,NaN,MS Zaandam,2020-04-01 22:04:58,Recovered,0.0,"MS Zaandam,",MS Zaandam
35580,11083,2020-04-02,NaN,MS Zaandam,2020-04-02 23:32:01,Recovered,0.0,"MS Zaandam,",MS Zaandam
35895,11398,2020-04-03,NaN,MS Zaandam,2020-04-03 22:52:45,Recovered,0.0,"MS Zaandam,",MS Zaandam
36210,11713,2020-04-04,NaN,MS Zaandam,2020-04-04 23:41:02,Recovered,0.0,"MS Zaandam,",MS Zaandam
36526,12029,2020-04-05,NaN,MS Zaandam,2020-04-05 23:13:44,Recovered,0.0,"MS Zaandam,",MS Zaandam
46267,9521,2020-03-28,NaN,MS Zaandam,2020-03-28 23:11:06,Active,2.0,"MS Zaandam,",MS Zaandam
46578,9832,2020-03-29,NaN,MS Zaandam,2020-03-29 23:14:06,Active,2.0,"MS Zaandam,",MS Zaandam
46890,10144,2020-03-30,NaN,MS Zaandam,2020-03-30 22:58:55,Active,2.0,"MS Zaandam,",MS Zaandam
47203,10457,2020-03-31,NaN,MS Zaandam,2020-03-31 23:49:27,Active,2.0,"MS Zaandam,",MS Zaandam
47516,10770,2020-04-01,NaN,MS Zaandam,2020-04-01 22:04:58,Active,7.0,"MS Zaandam,",MS Zaandam
47829,11083,2020-04-02,NaN,MS Zaandam,2020-04-02 23:32:01,Active,7.0,"MS Zaandam,",MS Zaandam
48144,11398,2020-04-03,NaN,MS Zaandam,2020-04-03 22:52:45,Active,7.0,"MS Zaandam,",MS Zaandam
48459,11713,2020-04-04,NaN,MS Zaandam,2020-04-04 23:41:02,Active,7.0,"MS Zaandam,",MS Zaandam
48775,12029,2020-04-05,NaN,MS Zaandam,2020-04-05 23:13:44,Active,7.0,"MS Zaandam,",MS Zaandam

In [17]:
## download as csv

covid_19.to_csv(r"C:\Users\ijeke\Documents\Datasets\covid19 v1\covid_19.csv", sep=",", index=False)